<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-Masonry框架分析.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>184F68FC1BD32BB000CEE599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184F69151BD32BB000CEE599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184F69201BD32BB000CEE599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
